h1{
    color: rgb(52, 123, 255);
}
body{
    background-color: #a7a6a6;
}
.avatarGit{
    width: 100px;
    height: 100px;
}
.repos{
    margin-top: 30px;
}
.block{
    display: block;
}
.none{
    display: none;
}